@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


body{
    background-color: var(--tg-theme-bg-color);
    font-family: 'Inter', sans-serif;
    padding: 20px;
    --tg-theme-bg-color: #00ff00;
    --tg-theme-bg-color: #00ff00;
    --tg-theme-text-color: #00ff00;
    --tg-theme-hint-color: #00ff00;
    --tg-theme-link-color: #00ff00;
    --tg-theme-button-color: #00ff00;
    --tg-theme-button-text-color: #00ff00;
}
*, *::before, *::after {
    box-sizing: border-box;
}
#buy_button{
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 20px 40px;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    width: 100%;
}
img{
    width: 100%;
    border-radius: 20px;
}
.text{
    text-align: center;
    width: 100%;
    font-size: 36px;
    color: var(--tg-theme-text-color)
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input {
    padding: 18px 12px;
    border: 2px solid;
    border-radius: 10px;
    background: none;
    outline: none;
    width: 100%;
    border-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;
    line-height: normal;
}

input::placeholder {
    color: var(--tg-theme-hint-color)
}